<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-radius-lg fixed-start ms-2  bg-white my-2" id="sidenav-main">
    <div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-dark opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
    <a class="navbar-brand px-4 py-3 m-0" href="/" target="_blank">
        <span class="ms-1 text-sm text-dark">人事考勤系統</span>
    </a>
    </div>
    <hr class="horizontal dark mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-dark" href="/calendar">
                <i class="material-symbols-rounded opacity-5">event</i>
                <span class="nav-link-text ms-1">行事曆</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark collapsed" data-bs-toggle="collapse" href="#basicDataSubmenu" role="button" aria-expanded="false" aria-controls="basicDataSubmenu">
                <i class="material-symbols-rounded opacity-5">database</i>
                <span class="nav-link-text ms-1">基本資料</span>
            </a>
            <div class="collapse ms-2" id="basicDataSubmenu">
                <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/department">
                            <i class="material-symbols-rounded opacity-5">corporate_fare</i>
                            <span class="nav-link-text ms-1">部門資料</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/employees">
                            <i class="material-symbols-rounded opacity-5">person</i>
                            <span class="nav-link-text ms-1">員工資料</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/scheduling">
            <i class="material-symbols-rounded opacity-5">schedule</i>
                <span class="nav-link-text ms-1">排班作業</span>
            </a>
        </li>        
        <li class="nav-item">
            <a class="nav-link text-dark" href="/abnormal">
            <i class="material-symbols-rounded opacity-5">error</i>
                <span class="nav-link-text ms-1">異常警示</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark collapsed" data-bs-toggle="collapse" href="#monthlyTasksSubmenu" role="button" aria-expanded="false" aria-controls="monthlyTasksSubmenu">
                <i class="material-symbols-rounded opacity-5">task</i>
                <span class="nav-link-text ms-1">薪資作業(人事)</span>
            </a>
            <div class="collapse ms-2" id="monthlyTasksSubmenu">
                <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/attendance-records">
                            <i class="material-symbols-rounded opacity-5">access_time</i>
                            <span class="nav-link-text ms-1">打卡紀錄</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/overtime-records">
                            <i class="material-symbols-rounded opacity-5">schedule</i>
                            <span class="nav-link-text ms-1">加班紀錄</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/leave-records">
                            <i class="material-symbols-rounded opacity-5">event_busy</i>
                            <span class="nav-link-text ms-1">請假紀錄</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/business-trip-records">
                            <i class="material-symbols-rounded opacity-5">flight</i>
                            <span class="nav-link-text ms-1">出差紀錄</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/xizhi-meal-allowance">
                            <i class="material-symbols-rounded opacity-5">restaurant</i>
                            <span class="nav-link-text ms-1">汐止餐費</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/kl-other-dept-meal">
                            <i class="material-symbols-rounded opacity-5">dining</i>
                            <span class="nav-link-text ms-1">KL其他部門餐費</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/kl-onsite-meal">
                            <i class="material-symbols-rounded opacity-5">lunch_dining</i>
                            <span class="nav-link-text ms-1">KL現場人員餐費</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/container-stacking-bonus">
                            <i class="material-symbols-rounded opacity-5">inventory_2</i>
                            <span class="nav-link-text ms-1">疊櫃獎金</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/perfect-attendance-bonus">
                            <i class="material-symbols-rounded opacity-5">star</i>
                            <span class="nav-link-text ms-1">全勤獎金</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/facility-quality-bonus">
                            <i class="material-symbols-rounded opacity-5">engineering</i>
                            <span class="nav-link-text ms-1">廠務品質績效獎金</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/qa-quality-bonus">
                            <i class="material-symbols-rounded opacity-5">verified</i>
                            <span class="nav-link-text ms-1">品保品質績效獎金</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/finance">
                <i class="material-symbols-rounded opacity-5">calculate</i>
                <span class="nav-link-text ms-1">薪資作業(財務)</span>
            </a>
        </li>
    </ul>
    </div>
    <div class="sidenav-footer position-absolute w-100 bottom-0 ">
    </div>
</aside>