@page
@model CalendarModel
@{
    ViewData["Title"] = "行事曆";
}

<div class="row">
    <div class="ms-3">
        <h3 class="mb-0 h4 font-weight-bolder">行事曆</h3>
        <p class="mb-4">
            資料來自政府資料開放平臺.
        </p>
    </div>
</div>

<div class="row">
    <div class="ms-3">
        <input type="file" class="form-control" id="fileUpload" />
    </div>
</div>